@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>ShopBridge Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
<br /> 
<div>
    @*<h1>Shop Bridge Inventory Project </h1>*@
    <br />
    <h2><i class="fa fa-plus-square"></i> COMPATIBILITY ASSESSMENT TEST FOR BACKEND DEVELOPER</h2>
    
    <br />
    <h3> Features Added:</h3> <br />
    <p> View Inventory  <br /> Edit, View, Delete Inventory items. <br />  Multi Column Filter to Inventory Table.</p>
    <br />
    <div class="container row p-0 m-0">
        <div class="col-3">
            <a asp-action="Create" asp-controller="Items" class="btn btn-info form-control text-white">
                Add New Item to Stock
            </a>
        </div>
        <div class="col-3 ">
            <a asp-action="Index" asp-controller="Items" class="btn btn-info form-control text-white">
                View Stock
            </a>
        </div>
    </div>
</div>
</body>
</html>
